<h2>Add course</h2>

<form action="/add" method="POST">

<div class="input-field">
          <input  id="title" name="title" type="text" class="validate" required>
          <label for="title">Course Title</label>
          <span class="helper-text" data-error="set the course" ></span>
</div>

<div class="input-field">
          <input  id="price" type="number" name="price" class="validate" min="1" required>
          <label for="price">Price</label>
          <span class="helper-text" data-error="set the price" ></span>
</div>

<div class="input-field">
          <input  id="img" type="text" name="image" class="validate" required>
          <label for="img">URL of image</label>
          <span class="helper-text" data-error="set the url" ></span>
</div>

<button class="btn btn-primary">Add Course</button>


</form>