
    <h2>Courses</h2>

    <form action="/courses" method="POST">
    <input id="name" type="text" name="name" required>
    <label for="name"></label>
    <button type="submit">Send</button>
    </form>
